{% macro loading() %}
<div class="loader bg-secondary">
	<div class="flex-fill pt-5 mt-5">
		<h1 class="text-center pt-5 mt-5">
			<i class="fas fa-cog fa-spin"></i>
			Loading...
		</h1>
	</div>
</div>
{% endmacro %}
{% macro topics() %}
<ul class="topic-list">
	<!-- ko foreach: topics -->
	<li class="topic-select p-2 mb-2" data-bind="text: name, attr: { 'data-id' : id}, class: active() ? 'bg-dark' : ''"></li>
	<!-- /ko -->
</ul>
{% endmacro %}
{% macro messages() %}
	<ul class="topic-window p-2 bg-dark flex-fill" data-bind="attr: { 'data-id' : current }">
		<!-- ko foreach: messages -->
		<li class="p-2">
			<span class="text-warning" data-bind="text: author"></span>
			<small class="text-light" data-bind="text: sent"></small>
			:
			<br />
			<span class="d-block" data-bind="text: value"></span>
		</li>
		<!-- /ko -->
	</ul>
{% endmacro %}
{% macro style(array)%}
	{% for style in array.remote %}
		<link rel="stylesheet" type="text/css" href="{{ style.url }}" crossorigin="{{ style.crossorigin }}" integrity="{{ style.integrity }}"/>
	{% endfor %}
	{% for style in array.local %}
		<link rel="stylesheet" type="text/css" href="/{{ style.url }}" crossorigin="{{ style.crossorigin }}" integrity="{{ style.integrity }}"/>
	{% endfor %}
{% endmacro %}

{% macro script(array)%}
	{% for script in array.remote %}
		<script type="text/javascript" async="{{ script.async }}" src="{{ script.url }}" crossorigin="{{ script.crossorigin }}" integrity="{{ script.integrity }}"></script>
	{% endfor %}
	{% for script in array.local %}
		{% if array.requireJS%}
			<script type="text/javascript" src="/{{ script.url }}" data-main="{{ script.main }}"></script>
		{% else %}
			<script type="text/javascript" async="{{ script.async }}" src="/{{ script.url }}" crossorigin="{{ script.crossorigin }}" integrity="{{ script.integrity }}"></script>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro flash(array) %}
	{% for alert in array %}
		<div class="alert alert-{{ alert.type }} alert-dismissible fade show alert-on-top" role="alert">
			{{ alert.message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="fas fa-times"></i></span>
			</button>
		</div>
	{% endfor %}
{% endmacro %}
