{% macro socketConst(addr) %}
	<script type="text/javascript">
		const socketAddr = "{{ addr }}";
	</script>
{% endmacro %}
{% macro loading() %}
<div class="loader bg-secondary">
	<div class="flex-fill pt-5 mt-5">
		<h1 class="text-center pt-5 mt-5">
			loading...
		</h1>
	</div>
</div>
{% endmacro %}
{% macro messagesLoading() %}
	<div class="loader-messages p-2 bg-dark flex-fill text-center pt-5 d-none">
		<h2 class="mt-5 pt-5">loading...</h2>
	</div>
{% endmacro %}
{% macro topics() %}
<div class="input-group">
	<input type="text" class="form-control form-control-sm topic-add-name" placeholder="thread name" data-bind="textInpur: newTopic"/>
	<div class="input-group-append">
		<button class="btn btn-success btn-sm text-dark topic-add">
			add
		</button>
	</div>
</div>
<small>filter:</small>
<input type="text" class="form-control form-control-sm mb-1 topic-filter" placeholder="search" data-bind="textInput: filter" />
<ul class="topic-list">
	<!-- ko foreach: filteredTopics -->
	<li class="topic-select p-2" data-bind="attr: { 'data-id' : id}, class: active() ? 'bg-dark' : ''">
		<span data-bind="text: name"></span>
		<!-- ko if: unread() > 0 -->
		<span class="badge badge-primary float-right mt-1" data-bind="text: unread"></span>
		<!-- /ko -->
	</li>
	<!-- /ko -->
</ul>
{% endmacro %}
{% macro messages() %}
	<ul class="topic-window p-2 bg-dark flex-fill" data-bind="attr: { 'data-id' : current }">
		<!-- ko foreach: messages -->
		<li class="p-2">
			<span class="text-warning" data-bind="text: author"></span>
			<small class="text-light" data-bind="text: sent"></small>
			:
			<br />
			<span class="d-block topic-message" data-bind="text: value"></span>
			<!-- ko foreach: files -->
				<!-- ko if: type() === "DOC" -->
					<a class="download-doc" target="_blank" data-bind="
							text:  label() +' '+ size()+'kb',
							attr: {href: '/assets/files/document/+path()'}
					"></a>
				<!-- /ko -->
			<!-- /ko -->

			<!-- ko foreach: files -->
				<!-- ko if: type() === "IMG" -->
					<a class="download-img" target="_blank" data-bind="attr: {href: '/assets/files/image/'+path()}">
						<img data-bind="attr: {src: '/assets/files/image/'+path()}" /><br />
						<span data-bind="text: label() +' '+ size()+'kb'"></span>
					</a>
				<!-- /ko -->
			<!-- /ko -->
		</li>
		<!-- /ko -->
	</ul>
{% endmacro %}
{% macro files() %}
	<div class="text-center">
		<button class="btn btn-sm btn-info files-show-urls">urls</button>
		<button class="btn btn-sm btn-success files-show-imgs">imgs</button>
		<button class="btn btn-sm btn-secondary files-show-docs">docs</button>
	</div>
	<ul class="files-list-urls">
		<!-- ko foreach: files.URL -->
			<li>
				<a data-bind="attr: { href : path }" target="_blank" class="text-decoration-none">
					<span data-bind="text: label"></span><br />
					<small data-bind="text: created"></small>
				</a>
			</li>
		<!-- /ko -->
	</ul>
	<ul class="files-list-imgs d-none">
		<!-- ko foreach: files.IMG -->
		<li>
			<a data-bind="attr: { href : '/assets/files/image/'+ path() }" target="_blank" class="text-decoration-none">
				<img data-bind="attr: {src: '/assets/files/image/'+ path() }" class="d-block w-100" />
				<span data-bind="text: label"></span><br />
				<span data-bind="text: size() + 'kb'"></span><br />
				<small data-bind="text: created"></small>
			</a>
		</li>
		<!-- /ko -->
	</ul>
	<ul class="files-list-docs d-none">
		<!-- ko foreach: files.DOC -->
		<li>
			<a data-bind="attr: { href : '/assets/files/document/'+ path() }" target="_blank" class="text-decoration-none">
				<span data-bind="text: '🖹 '+label()"></span><br />
				<span data-bind="text: size() + 'kb'"></span><br />
				<small data-bind="text: created"></small>
			</a>
		</li>
		<!-- /ko -->
	</ul>
{% endmacro %}

{% macro filesModal() %}
<div class="modal fade" id="filesModal" tabindex="-1" role="dialog" aria-labelledby="filesModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title" id="filesModalLabel">send files with next message</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body pb-0" data-bind="if: uploadedFiles().length > 0">
				<small>uploaded files:</small>
				<ul class="files-modal-list">
					<!-- ko foreach: uploadedFiles -->
					<li>
						<small data-bind="text: type() + ':'"></small>
						<span data-bind="text: name"></span>
						<span data-bind="text: size() + 'kb'"></span>
					</li>
					<!-- /ko -->
				</ul>
			</div>
			{{ include("partials/form/upload.twig") }}
		</div>
	</div>
</div>
{% endmacro %}

{% macro style(array)%}
	{% for style in array.remote %}
		<link rel="stylesheet" type="text/css" href="{{ style.url }}" crossorigin="{{ style.crossorigin }}" integrity="{{ style.integrity }}"/>
	{% endfor %}
	{% for style in array.local %}
		<link rel="stylesheet" type="text/css" href="/{{ style.url }}" crossorigin="{{ style.crossorigin }}" integrity="{{ style.integrity }}"/>
	{% endfor %}
{% endmacro %}

{% macro script(array)%}
	{% for script in array.remote %}
		<script type="text/javascript" async="{{ script.async }}" src="{{ script.url }}" crossorigin="{{ script.crossorigin }}" integrity="{{ script.integrity }}"></script>
	{% endfor %}
	{% for script in array.local %}
		{% if array.requireJS%}
			<script type="text/javascript" src="/{{ script.url }}" data-main="{{ script.main }}"></script>
		{% else %}
			<script type="text/javascript" async="{{ script.async }}" src="/{{ script.url }}" crossorigin="{{ script.crossorigin }}" integrity="{{ script.integrity }}"></script>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro flash(array) %}
	{% for alert in array %}
		<div class="alert alert-{{ alert.type }} alert-dismissible fade show alert-on-top" role="alert">
			{{ alert.message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
	{% endfor %}
{% endmacro %}
